
@{
  ViewBag.Title = "Index";
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<nav class="navbar hide-for-print is-primary"
     role="navigation"
     aria-label="page navigation">
  <div class="container">
    <div class="navbar-menu is-active">
      <div class="navbar-start">

      </div>
      <div class="navbar-end">
        <a onclick=""
           class="navbar-item">
          View Transactions
        </a>
        <a onclick="Transaction.NewReceipt();"
           class="navbar-item">
          New Receipt
        </a>
        <a onclick="Transaction.NewDeposit();"
           class="navbar-item">
          New Deposit
        </a>
        <div class="navbar-item">

        </div>
      </div>
    </div>
  </div>
</nav>

<div class="container"
     id="root">

  @*<p>Receipt list here</p>
  <p>Filters for: </p>
  <ol>
    <li>Day</li>
    <li>Deposited or not</li>
    <li>Able to search by for control data</li>
    <li>Deposits versus Receipts</li>
    <li>By Person?</li>
    <li>Have to figure out what has to be filtered on the backend versus frontend.</li>
  </ol>

  <hr />
  <p>Let's make this receipt list the last N transactions, sorted newest to oldest.</p>

  <p>Columns</p>
  <ol>
    <li>Transaction Count By Day</li>
    <li>mm / dd / yyyy hh:mm AMPM </li>
    <li>Transaction Type </li>
    <li>Department </li>
    <li>Check Amount </li>
    <li>Cash Amount</li>
  </ol>

  <p>Infinite scroll?</p>*@

</div>

<div id="receipt_view"
     class="container hide">
  <div id="receipt_view_header">
    <div class="level">
      <div class="level-left">
        <div class="level-item">
          <img style="height: 100%; width: 100%;"
               src="~/lib/ClayCountySeal-64x64.png" />
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <p style="font-size: 1.25rem;"
             class="heading">
            CLAY COUNTY
          </p>
          <p class="title">
            BOARD OF COUNTY COMMISSIONERS
          </p>
        </div>
      </div>
      <div class="level-right">
        <div class="level-item has-text-right">
          <div>
            <p style="font-size: 1.25rem;"
               class="heading">
              RECEIPT DATE
            </p>
            <p id="receipt_view_date"
               class="title">
              8/20/2019
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="columns">

    <div class="field column is-half">
      <label class="label is-medium">Received From</label>
      <p class="control">
        <input id="receipt_received_from"
               class="input is-static is-medium"
               type="text"
               value=""
               readonly />
      </p>
    </div>

    <div class="field column is-half">
      <label class="label is-medium">Department</label>
      <p class="control">
        <input id="receipt_department"
               class="input is-static is-medium"
               type="text"
               value=""
               readonly />
      </p>
    </div>

  </div>
  
  <table>

    <tbody id="receipt_view_contents">

    </tbody>
  </table> 

  <div id="receipt_view_footer"
       class="level">
    <div class="level-left">
      <div class="level-item has-text-right">
        <div>
          <p style="font-size: 1.25rem;"
             class="heading">
            RECEIPT NUMBER
          </p>
          <p id="receipt_view_number"
             class="title">
            19-2605-000001
          </p>
        </div>
      </div>
    </div>
    <div class="level-item has-text-centered">
      <div>
        <p style="font-size: 1.25rem;"
           class="heading">
          BOARD OF COUNTY COMMISSIONERS
        </p>
        <p id="receipt_view_county_manager"
           class="title">
          HOWARD WANAMAKER
        </p>
      </div>
    </div>
    <div class="level-right">
      <div class="level-item has-text-right">
        <div>
          <p style="font-size: 1.25rem;"
             class="heading">
            RECEIPT BY
          </p>
          <p id="receipt_created_by"
             class="title">
            DAN MCCARTNEY
          </p>
        </div>
      </div>
    </div>
  </div>

</div>
<script src="~/scripts/LevelItem.js"></script>
<script src="~/scripts/Transaction/ControlGroup.js"></script>
<script src="~/scripts/Transaction/Data/PaymentMethodData.js"></script>
<script src="~/scripts/Transaction/PaymentType.js"></script>
<script src="~/scripts/Transaction/Control.js"></script>
<script src="~/scripts/Transaction/Department.js"></script>
<script src="~/scripts/Transaction/app.js"></script>
<script src="~/scripts/Transaction/Data/ControlData.js"></script>
<script src="~/scripts/Transaction/Data/PaymentTypeData.js"></script>
<script src="~/scripts/Transaction/Receipt.js"></script>
<script src="~/scripts/Transaction/Data/TransactionData.js"></script>

<script type="text/javascript">

  document.addEventListener("DOMContentLoaded", function (event)
  {
    Transaction.Start();
  });

</script>