
@{
  ViewBag.Title = "Index";
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>This stuff is working gud</h2>




<script src="~/scripts/Transaction/PaymentType.js"></script>
<script src="~/scripts/Transaction/Control.js"></script>
<script src="~/scripts/Transaction/Department.js"></script>  
<script src="~/scripts/Transaction/app.js"></script>


<script type="text/javascript">

  document.addEventListener("DOMContentLoaded", function (event)
  {
    Transaction.Start();
  });

</script>