
@{
  ViewBag.Title = "Index";
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<nav class="navbar hide-for-print is-primary"
     role="navigation"
     aria-label="page navigation">
  <div class="container">
    <div class="navbar-menu is-active">
      <div class="navbar-start">

      </div>
      <div class="navbar-end">
        <a onclick="Transaction.Data.TransactionData.RenderTransactionList();"
           class="navbar-item">
          View Transactions
        </a>
        <a onclick="Transaction.NewReceipt();"
           class="navbar-item">
          New Receipt
        </a>
        <a onclick="Transaction.NewDeposit();"
           class="navbar-item">
          New Deposit
        </a>
        <div class="navbar-item">

        </div>
      </div>
    </div>
  </div>
</nav>

<div id="transaction_view"
     class="container show">


  <div id="transaction_view_filters">
    <fieldset style="width: 100%;">
      <legend class="label">Transaction Filters</legend>

      <div class="level">

        <div class="level-item">
          <div class="field">
            <div class="control">
              <div class="select is-medium">
                <select onchange="Transaction.FilterTransactions();"
                        id="nameFilter"></select>
              </div>
            </div>
          </div>
        </div>

        <div class="level-item">
          <div class="field">
            <div class="control">
              <div class="select is-medium">
                <select onchange="Transaction.FilterTransactions();"
                        id="statusFilter"></select>
              </div>
            </div>
          </div>
        </div>

        <div class="level-item">
          <div class="field">
            <div class="control">
              <div class="select is-medium">
                <select onchange="Transaction.FilterTransactions();"
                        id="departmentFilter"></select>
              </div>
            </div>
          </div>
        </div>

        <div class="level-item">
          <div class="field">
            <div class="control">
              <div class="select is-medium">
                <select onchange="Transaction.FilterTransactions();"
                        id="typeFilter"></select>
              </div>
            </div>
          </div>
        </div>

        <div class="level-item">
          <div class="field">
            <div class="control">
              <input onkeydown="Transaction.SearchOnEnter(event);"
                     class="input is-medium"
                     id="transactionNumberFilter"
                     placeholder="Receipt #"
                     maxlength="13"
                     value=""
                     type="text" />
            </div>
          </div>
        </div>

        <div class="level-item">
          <div class="field">
            <div class="control">
              <label class="checkbox is-medium">
                <input onchange="Transaction.FilterTransactions();"
                       id="modifiedFilter"
                       type="checkbox" />
                Modified Only
              </label>
            </div>
          </div>
        </div>

        <div class="level-item">
          <div class="field">
            <div class="control">
              <button id="filterRefreshButton"
                      onclick="Transaction.FilterTransactions(); return false;"
                      class="button is-primary is-medium"
                      type="button">
                Refresh
              </button>
            </div>
          </div>
        </div>

      </div>


    </fieldset>



  </div>
  <div id="transaction_list_view">

  </div>

  <nav class="pagination is-medium hide" role="navigation" aria-label="pagination">
    <a id="resultsPreviousPage"
       class="pagination-previous">Previous</a>
    <a id="resultsNextPage"
       class="pagination-next">Next</a>
    <ul id="resultsPaginationList"
        class="pagination-list"></ul>
  </nav>

</div>

<div id="action_view"
     class="container hide">

</div>

<div id="receipt_view"
     class="container hide">
  <div id="receipt_view_header">
    <div class="level">
      <div class="level-left">
        <div class="level-item">
          <img style="height: 100%; width: 100%;"
               src="~/lib/ClayCountySeal-64x64.png" />
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <p style="font-size: .75rem;"
             class="heading">
            CLAY COUNTY
          </p>
          <p style="font-size: 1.25rem;"
             class="title">
            BOARD OF COUNTY COMMISSIONERS
          </p>
        </div>
      </div>
      <div class="level-right">
        <div class="level-item has-text-right">
          <div>
            <p style="font-size: .75rem;"
               class="heading">
              RECEIPT DATE
            </p>
            <p style="font-size: 1.25rem;"
               id="receipt_view_date"
               class="title">
              8/20/2019
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="columns">

    <div class="field column is-half">
      <label class="label is-medium">Received From</label>
      <p class="control">
        <input id="receipt_received_from"
               class="input is-static is-medium"
               type="text"
               value=""
               readonly />
      </p>
    </div>

    <div class="field column is-half">
      <label class="label is-medium">Department</label>
      <p class="control">
        <input id="receipt_department"
               class="input is-static is-medium"
               type="text"
               value=""
               readonly />
      </p>
    </div>

  </div>

  <table class="table is-fullwidth">
    <thead>
      <tr>
        <th style="width: 40%;">
        </th>
        <th class="has-text-right"
            style="width: 15%;">
          No. Checks Received
        </th>
        <th class="has-text-right"
            style="width: 15%;">
          Total Check Amount
        </th>
        <th class="has-text-right"
            style="width: 15%;">
          Total Cash Amount
        </th>
        <th class="has-text-right"
            style="width: 15%;">
          Total Amount
        </th>
      </tr>
    </thead>
    <tbody id="receipt_view_contents">
    </tbody>
    <tfoot id="receipt_view_totals">
    </tfoot>
  </table>
  <div id="receipt_preview_controls"
       class="level">
    <div class="level-left">
      Please check this against the money you've collected.  Click Save if no changes are needed.
    </div>
    <div class="level-right">
      <div class="level-item buttons">
        <button class="button is-warning"
                id="receipt_view_cancel">
          Cancel
        </button>
        <button class="button is-success"
                id="receipt_view_save">
          Save
        </button>
      </div>
    </div>
  </div>
  <div id="receipt_view_footer"
       class="level">
    <div class="level-left">
      <div class="level-item has-text-right">
        <div>
          <p style="font-size: .75rem;"
             class="heading">
            RECEIPT NUMBER
          </p>
          <p style="font-size: 1.25rem;"
             id="receipt_view_number"
             class="title">
            19-2605-000001
          </p>
        </div>
      </div>
    </div>
    <div class="level-item has-text-centered">
      <div>
        <p style="font-size: .75rem;"
           class="heading">
          BOARD OF COUNTY COMMISSIONERS
        </p>
        <p style="font-size: 1.25rem;"
           id="receipt_view_county_manager"
           class="title">
          HOWARD WANAMAKER
        </p>
      </div>
    </div>
    <div class="level-right">
      <div class="level-item has-text-right">
        <div>
          <p style="font-size: .75rem;"
             class="heading">
            RECEIPT BY
          </p>
          <p style="font-size: 1.25rem;"
             id="receipt_created_by"
             class="title">
            DAN MCCARTNEY
          </p>
        </div>
      </div>
    </div>
  </div>

</div>

<script src="~/scripts/Transaction/app.js"></script>
<script src="~/scripts/LevelItem.js"></script>
<script src="~/scripts/Transaction/ControlGroup.js"></script>
<script src="~/scripts/Transaction/Data/PaymentMethodData.js"></script>
<script src="~/scripts/Transaction/PaymentType.js"></script>
<script src="~/scripts/Transaction/Control.js"></script>
<script src="~/scripts/Transaction/Department.js"></script>
<script src="~/scripts/Transaction/Data/ControlData.js"></script>
<script src="~/scripts/Transaction/Data/PaymentTypeData.js"></script>
<script src="~/scripts/Transaction/Receipt.js"></script>
<script src="~/scripts/Transaction/Data/TransactionData.js"></script>

<script type="text/javascript">

  document.addEventListener("DOMContentLoaded", function (event)
  {
    Transaction.Start();
  });

</script>